<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<title>John Website</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/auth.css}">
		<link rel="stylesheet" th:href="@{/css/notifications.css}">
		<link rel="stylesheet" th:href="@{/css/profile.css}">
		<link rel="stylesheet" th:href="@{/css/posts.css}">
	</head>
	<body>
		<header>
			<h1 onclick="navigateTo('home')" style="cursor: pointer;">John Website</h1>
		</header>
		<nav class="navbar">
			<div class="nav-container">
				<div class="nav-section left">
					<div id="logged-in-nav" style="display: none;">
						<button class="nav-btn" onclick="goToMyPublicProfile()">My Profile</button>
					</div>
				</div>

				<div class="nav-section center">
					<button class="nav-btn" onclick="navigateTo('home')">Home Feed</button>
				</div>

				<div class="nav-section right">
					<div class="user-container">
						<button class="nav-btn" id="btn-user">User Center</button>
					</div>
				</div>
			</div>
		</nav>

		<main id="main-content"></main>

		<footer>John Website</footer>
		
		<script th:src="@{/js/toast.js}"></script>
		<script th:src="@{/js/clock.js}"></script>
		<script th:src="@{/js/auth.js}"></script>
		<script th:src="@{/js/navigation.js}"></script>
		<script th:src="@{/js/password_visibility.js}"></script>
		<script th:src="@{/js/process_data.js}"></script>
		<script th:src="@{/js/password_strength.js}"></script>
		<script th:src="@{/js/posts.js}"></script>
		<script th:src="@{/js/profile.js}"></script>
		<script th:src="@{/js/comments.js}"></script>
	</body>
</html>