<div class="main-text">
    <h2>Welcome, <span id="display-username">User</span>!</h2>
    <p>This is your private dashboard.</p>
	<div class="main-text">
		<h2>Settings</h2>
		<div class="profile-upload-section">
			<p>Update Profile Picture:</p>
			<input type="file" id="pic-upload" accept="image/*">
			<button class="nav-btn" onclick="uploadPic()">Upload</button>
		</div>
	</div>
    <div class="user-info">
        <p>Status: <strong>Verified</strong></p>
    </div>
    <button class="nav-btn logout-btn" onclick="handleLogout()">
        Log Out
    </button>
</div>